VITE_SUPABASE_URL=https://zvctwvwmiwkcrhzviasy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_tV_7yikpYkuUADD0zyRkDQ_adT-MwpB
VITE_GOOGLE_SHEET_ID=1sxaGQEr-hCP02Hj9Zjiu8Ud9PmH8xSq2fino-UTWD78
VITE_GOOGLE_SHEET_NAME=Pedidos_YakuExpress
